openapi: 3.2.0
info:
  description: WebCrawler API is a powerful web crawling and data extraction service designed for developers who need to transform websites into LLM-ready structured data and RAG (Retrieval-Augmented Generation) pipelines.
  title: WebCrawler Status API
  termsOfService: https://webcrawlerapi.com/tos
  contact:
    name: API Support
    url: https://webcrawlerapi.com/support
    email: support@webcrawlerapi.com
  license:
    name: Commercial
    url: https://webcrawlerapi.com/tos
  version: '2.0'
servers:
- url: https://api.webcrawlerapi.com
  description: Production
tags:
- name: Status
paths:
  /ping:
    get:
      description: Simple health check endpoint to verify the API is running and operational
      tags:
      - Status
      summary: Ping API
      responses:
        '200':
          description: API is operational
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
      operationId: getPing
      x-operation-id-source: derived
  /v1/auth:
    get:
      security:
      - ApiKeyAuth: []
      description: Verifies that the API key is valid and returns organization email
      tags:
      - Status
      summary: Check authentication
      responses:
        '200':
          description: Authentication successful
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
      operationId: getV1Auth
      x-operation-id-source: derived
components:
  securitySchemes:
    ApiKeyAuth:
      description: 'API key for authentication. Format: Bearer {api_key}'
      type: apiKey
      name: Authorization
      in: header
x-original-source: https://api.webcrawlerapi.com/swagger/doc.json
x-original-format: Swagger 2.0 (saved verbatim at openapi/_original/webcrawlerapi-com-swagger.json)
x-converted: '2026-09-19'
x-conversion-note: Mechanical Swagger 2.0 -> OpenAPI 3.0.3 rendition by API Evangelist. Paths, parameters, schemas, responses and security are the provider's own; nothing was added. The provider ships no operationIds or tag declarations - API Evangelist supplies those in overlays/webcrawlerapi-com-openapi-overlay.yaml.
