openapi: 3.2.0
info:
  description: WebCrawler API is a powerful web crawling and data extraction service designed for developers who need to transform websites into LLM-ready structured data and RAG (Retrieval-Augmented Generation) pipelines.
  title: WebCrawler Organization API
  termsOfService: https://webcrawlerapi.com/tos
  contact:
    name: API Support
    url: https://webcrawlerapi.com/support
    email: support@webcrawlerapi.com
  license:
    name: Commercial
    url: https://webcrawlerapi.com/tos
  version: '2.0'
servers:
- url: https://api.webcrawlerapi.com
  description: Production
tags:
- name: Organization
paths:
  /v2/organization/usage:
    get:
      security:
      - ApiKeyAuth: []
      description: Retrieves usage statistics for the authenticated organization within a date range
      tags:
      - Organization
      summary: Get organization usage
      parameters:
      - description: Start date (YYYY-MM-DD format)
        name: from
        in: query
        schema:
          type: string
      - description: End date (YYYY-MM-DD format)
        name: to
        in: query
        schema:
          type: string
      - description: 'Include daily breakdown (default: false)'
        name: include_daily
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: Usage statistics
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
      operationId: getV2OrganizationUsage
      x-operation-id-source: derived
components:
  securitySchemes:
    ApiKeyAuth:
      description: 'API key for authentication. Format: Bearer {api_key}'
      type: apiKey
      name: Authorization
      in: header
x-original-source: https://api.webcrawlerapi.com/swagger/doc.json
x-original-format: Swagger 2.0 (saved verbatim at openapi/_original/webcrawlerapi-com-swagger.json)
x-converted: '2026-09-19'
x-conversion-note: Mechanical Swagger 2.0 -> OpenAPI 3.0.3 rendition by API Evangelist. Paths, parameters, schemas, responses and security are the provider's own; nothing was added. The provider ships no operationIds or tag declarations - API Evangelist supplies those in overlays/webcrawlerapi-com-openapi-overlay.yaml.
