openapi: 3.2.0
info:
  description: WebCrawler API is a powerful web crawling and data extraction service designed for developers who need to transform websites into LLM-ready structured data and RAG (Retrieval-Augmented Generation) pipelines.
  title: WebCrawler Agent API
  termsOfService: https://webcrawlerapi.com/tos
  contact:
    name: API Support
    url: https://webcrawlerapi.com/support
    email: support@webcrawlerapi.com
  license:
    name: Commercial
    url: https://webcrawlerapi.com/tos
  version: '2.0'
servers:
- url: https://api.webcrawlerapi.com
  description: Production
tags:
- name: Agent
paths:
  /v1/agent:
    post:
      security:
      - ApiKeyAuth: []
      description: Runs an agent and stores run record in database
      tags:
      - Agent
      summary: Run an agent
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WagentRunRequest'
        description: Agent request parameters
        required: true
      responses:
        '200':
          description: Agent run
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentRunView'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
      operationId: postV1Agent
      x-operation-id-source: derived
  /v1/agent/job/{id}:
    get:
      security:
      - ApiKeyAuth: []
      description: Returns agent run info from database
      tags:
      - Agent
      summary: Get agent job info
      parameters:
      - description: Job ID
        name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Job info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentRunView'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
      operationId: getV1AgentJobById
      x-operation-id-source: derived
  /v1/agent/jobs:
    get:
      security:
      - ApiKeyAuth: []
      description: Lists agent runs from database
      tags:
      - Agent
      summary: List agent jobs
      parameters:
      - description: Limit number of results
        name: limit
        in: query
        schema:
          type: integer
      - description: Offset for pagination
        name: offset
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: Jobs list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentRunList'
      operationId: getV1AgentJobs
      x-operation-id-source: derived
components:
  schemas:
    AgentRunList:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/AgentRunView'
        total:
          type: integer
    AgentRunView:
      type: object
      properties:
        balance_used_usd:
          type: number
        created_at:
          type: string
        data:
          type: object
        error_reason:
          type: string
        id:
          type: string
        max_spend_usd:
          type: number
        model:
          type: string
        prompt:
          type: string
        status:
          type: string
        success:
          type: boolean
        updated_at:
          type: string
        urls:
          type: array
          items:
            type: string
    WagentRunRequest:
      type: object
      properties:
        max_age:
          type: integer
          example: 604800
        max_spend_usd:
          type: number
        model:
          type: string
        output_schema:
          type: object
          additionalProperties: true
        prompt:
          type: string
        seed_urls_only:
          type: boolean
        urls:
          type: array
          items:
            type: string
  securitySchemes:
    ApiKeyAuth:
      description: 'API key for authentication. Format: Bearer {api_key}'
      type: apiKey
      name: Authorization
      in: header
x-original-source: https://api.webcrawlerapi.com/swagger/doc.json
x-original-format: Swagger 2.0 (saved verbatim at openapi/_original/webcrawlerapi-com-swagger.json)
x-converted: '2026-09-19'
x-conversion-note: Mechanical Swagger 2.0 -> OpenAPI 3.0.3 rendition by API Evangelist. Paths, parameters, schemas, responses and security are the provider's own; nothing was added. The provider ships no operationIds or tag declarations - API Evangelist supplies those in overlays/webcrawlerapi-com-openapi-overlay.yaml.
