openapi: 3.2.0
info:
  description: WebCrawler API is a powerful web crawling and data extraction service designed for developers who need to transform websites into LLM-ready structured data and RAG (Retrieval-Augmented Generation) pipelines.
  title: WebCrawler V2 Scraping API
  termsOfService: https://webcrawlerapi.com/tos
  contact:
    name: API Support
    url: https://webcrawlerapi.com/support
    email: support@webcrawlerapi.com
  license:
    name: Commercial
    url: https://webcrawlerapi.com/tos
  version: '2.0'
servers:
- url: https://api.webcrawlerapi.com
  description: Production
tags:
- name: V2 Scraping
paths:
  /v2/scrape:
    post:
      security:
      - ApiKeyAuth: []
      description: Creates a new V2 scrape job with improved output formats and optional async mode. Returns content directly in sync mode or job ID in async mode.
      tags:
      - V2 Scraping
      summary: Create V2 scrape job
      parameters:
      - description: Run asynchronously (returns job ID instead of waiting)
        name: async
        in: query
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostScrapeRequestV2'
        description: V2 Scrape parameters
        required: true
      responses:
        '200':
          description: Job ID (async mode)
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScrapeResponseError'
        '402':
          description: Insufficient balance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScrapeResponseError'
        '403':
          description: Organization suspended or URL blocked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScrapeResponseError'
      operationId: postV2Scrape
      x-operation-id-source: derived
  /v2/scrape/{id}:
    get:
      security:
      - ApiKeyAuth: []
      description: Retrieves the result of a V2 scrape job by ID
      tags:
      - V2 Scraping
      summary: Get V2 scrape result
      parameters:
      - description: Job ID
        name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Scrape result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostScrapeResponseV2'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScrapeResponseError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScrapeResponseError'
      operationId: getV2ScrapeById
      x-operation-id-source: derived
components:
  schemas:
    PostScrapeRequestV2:
      type: object
      properties:
        clean_selectors:
          type: string
          example: .ad,.sidebar
        main_content_only:
          type: boolean
          example: false
        max_age:
          type: integer
          example: 604800
        output_format:
          description: 'Deprecated: use output_formats instead.'
          type: string
          example: markdown
        output_formats:
          type: array
          items:
            type: string
          example:
          - '["markdown"'
          - '"html"]'
        prompt:
          type: string
          example: Extract all product prices
        respect_robots_txt:
          type: boolean
          example: false
        response_schema:
          type: object
        url:
          type: string
          example: https://example.com
    PostScrapeResponseV2:
      type: object
      properties:
        cleaned_content:
          type: string
        links:
          type: array
          items:
            type: string
        markdown:
          type: string
        page_status_code:
          type: integer
        page_title:
          type: string
        raw_content:
          type: string
        status:
          type: string
        structured_data: {}
        success:
          type: boolean
    ScrapeResponseError:
      type: object
      properties:
        error_code:
          type: string
        error_message:
          type: string
        status:
          type: string
        success:
          type: boolean
  securitySchemes:
    ApiKeyAuth:
      description: 'API key for authentication. Format: Bearer {api_key}'
      type: apiKey
      name: Authorization
      in: header
x-original-source: https://api.webcrawlerapi.com/swagger/doc.json
x-original-format: Swagger 2.0 (saved verbatim at openapi/_original/webcrawlerapi-com-swagger.json)
x-converted: '2026-09-19'
x-conversion-note: Mechanical Swagger 2.0 -> OpenAPI 3.0.3 rendition by API Evangelist. Paths, parameters, schemas, responses and security are the provider's own; nothing was added. The provider ships no operationIds or tag declarations - API Evangelist supplies those in overlays/webcrawlerapi-com-openapi-overlay.yaml.
